%section.logo
  =link_to root_path do
    %span.logo ballot
%section.user-tools
  - unless current_user.nil?
    = render 'users/tools'
  - else
    %a.login.google
      %i.fa.fa-lg.fa-google-plus(title="Sign in")
