- unless current_user.nil?
  = link_to logout_path, class: 'logout' do
    %i.fa.fa-unlock-alt.fa-2x{title: 'Log out'}
- else
  = link_to '/auth/google_oauth2' do
    %i.fa.fa-2x.fa-google(title="Sign in")
