%h2= "Hi there, #{@user.email}"

%p To reset your password, please click the URL below.

= edit_password_reset_url(@user.password_reset_token)

%p If you didn't request a password reset, you're probably in mortal danger. Just kidding. Probably.
