%hr

%section#links
  = button_link t('poll.view'), @poll, 'check', 'green' unless params[:action] == 'show'
  = button_link t('poll.delete'), @poll, 'trash', 'red', method: :delete
  - unless @current_user.is_a?(Guest)
    - if @poll.closed?
      = button_link t('poll.open'), open_poll_path(@poll), 'key', method: :post
    - else
      = button_link t('poll.close'), close_poll_path(@poll), 'gavel', method: :post
