- if current_user.is_a?(Guest)
  = icon_link '/auth/google_oauth2', icon: 'google', title: 'Sign in'
- else
  = icon_link user_polls_path(current_user), icon: 'bar-chart-o', title: 'Your polls'
  = icon_link logout_path, icon: 'unlock-alt', title: 'Log out'
