%section.js-form.user-form
  = @user.errors.empty? ? render('login_form'): render('register_form')

%hr

%section
  = button_link t('user.login_google'), '/auth/google_oauth2', 'gplus', class: 'google-button'
