= custom_form_for [@poll, option], html: { class: "option-form #{'new-option' if option.new_record?}" }, remote: true do |f|
 
  = f.icon_field :name, placeholder: 'option name', icon: 'check', type: 'text_field'
