.option
  %i.icon-tag
  %span.name= option.name
  = render 'options/form', option: option
  = icon_link '#', 'pencil', title: 'Edit option', remote: true, class: 'js-edit-option'
  = icon_link poll_option_path(@poll, option), 'trash', title: 'Delete option', remote: true, method: :delete, class: 'js-delete-option'
