- list ||= false

%section.poll
  %h3= poll.name
  - if list
    = button_link t('poll.view'), poll, 'check', 'green' 
  - else
    = render 'partials/poll_tools', poll: poll if poll.owned_by?(@current_user) 
