- tools ||= false
- show_vote ||= false

%section.poll
  = link_to poll do
    %i.icon-graph-pie
    %span.name= poll.name
  %aside
    - if show_vote
      %i.icon-tag
      %span=poll.voted_for?(@current_user)
    - if poll.owned_by?(@current_user) && tools
      = icon_link edit_poll_path(poll), 'pencil', title: 'Edit poll'
      = icon_link poll, 'trash', title: 'Delete poll', method: :delete, class: 'delete-poll'
  
