= poll_title
- if @poll.closed?   
  %span.label.label-info closed

%section#poll{ data: { id: @poll.to_param } }
  - if @poll.votes.empty?
    %h2.no-votes No votes yet, bruv.
  - else
    %canvas

%section.options
  - @poll.options.order(:created_at).each do |option|
    %section.option.shake{ data: {  id: option.id }, class: ('voted' if @current_user.voted_for?(option))}
      =option.name

= content_for :javascript do
  = javascript_include_tag 'poll/voter'
