%h1= @poll.name

%section#poll-container{ data: { id: @poll.slug } }
  %canvas#poll

  %section.options
    - @poll.options.each do |option|
      %section.option{ data: {  id: option.id }, class: ('voted' if current_user.voted_for?(option))}
        =option.name

:javascript
  $(document).ready(function() {
    $('#main').trigger('poll:show')
  })
