
%section#title
  %h1= @poll.name
  - if @poll.closed?
    %span.label.label-info closed

%section#poll-container
  - if @poll.votes.empty?
    %h2.no-votes No votes yet, bruv.
  %canvas#poll{ class: ( 'closed' if @poll.closed? )}


  %section.options
    - @poll.options.each do |option|
      -if current_user
        %section.option.shake{ data: {  id: option.id }, class: ('voted' if current_user.voted_for?(option))}
          =option.name
      - else
        %section.option= option.name

= render 'sessions/login' if current_user.nil?


:javascript
  $(document).ready(function() {
    var id = "#{@poll.slug}"
    $('#main').trigger('poll:show', { id: id })
  })
