%h1= @poll.name

%section#poll-container{ data: { id: @poll.slug } }
  %canvas#poll

  %section.options
    - @poll.options.each do |option|
      -if current_user
        %section.option.shake{ data: {  id: option.id }, class: ('voted' if current_user.voted_for?(option))}
          =option.name
      - else
        %section.option= option.name

:javascript
  $(document).ready(function() {
    $('#main').trigger('poll:show')
  })
