{{#each polls}}
  <section class="poll">
    <span class="name">{{ name }}</span>
      <a title="View poll" href="/polls/{{slug}}">
        <i class="icon icon-graph-pie"></i>
      </a>
      <a title="Edit poll" href="/polls/{{slug}}/edit">
        <i class="icon icon-pencil"></i>
      </a>
      <a title="Delete poll" class="delete-poll" href="/polls/{{slug}}" data-method="remote">
        <i class="icon icon-trash"></i>
      </a>
  </section>
{{/each}}
