@import 'colors';
@import 'bourbon';
@import 'variables';

.button {
  margin: 10px 0 10px 10px;
  background: $offWhite;
  color: $black;
  @extend .button-base;
}

.button[type="submit"] {
  background: $seagreen;
  color: $white;
  float: right;
}

.button[type="submit"]:hover { color: $white; }

.button:hover { color: $black; }

.google-button i { color: $red; }


