@import 'colors';
@import 'bourbon';

.button {
  margin: 10px;
  margin-right: 0;
  @include display(inline-flex);
  @include align-items(center);
  padding: 10px 12px;
  border-radius: 3px;
  @include transform(translate3d(0,0,0));
  background: $seagreen;
  color: $white;
  box-shadow: 0 1px 1px $shadow;
}

.button:hover { color: $white; }

.google-button { 
  margin-left: 0; 
  background: $white;
  color: $black;
}
.google-button i { color: $red; }

.button:hover {
  @include animation(bounce .4s);
}

@media(max-width: 800px) {
  .button span { display: none; }
}
