@import 'colors';
@import 'bourbon';

.button {
  margin: 1em 1em 1em 0;
  display: inline-flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 3px;
  color: $white;
  @include transform(translate3d(0,0,0));
  background: $black;
}

.button:hover {
  @include animation(bounce .4s);
}

.button.green {
  background: $seagreen;
}

.button.red {
  background: $red;
}

.button.black {
  background: $black;
}

.button.yellow {
  background: $yellow;
}
