$seagreen:    #5EAEBB;
$darkGreen:   #5196A1;
$fadedGreen:  rgba(94, 174, 187, 0.30);
$sand:        #F5F4F0;
$maroon:      #a64c44; 
$shadow:      rgba(0,0,0,0.125);
$border:      rgba(147,128,108,.25);
$yellow:      #E7BC08;
$red:         #E96950;
$googleRed:   #dd4b39;
$green:       #42b983;
$black:       #4d4d4e;
$gray:        #ddd;
$white:       #fff;
$offWhite:    #f9f9f9;
$blue:        #6189A1;
$lightBlue:  #3898D4;
$navy:  #1A4C6B;
