$seagreen:    #5EAEBB;
$sand:        #F5F4F0;
$maroon:      #a64c44; 
/*$offWhite:    #f9f9f9;*/
/*$steel:       #269AB1;*/
/*$navy:        #385A58;*/
/*$brown:       #C5BDA0;*/
$shadow:      rgba(0,0,0,0.125);
$border:      rgba(147,128,108,.25);
/*$gray:        #ddd;*/
$yellow:      #E7BC08;
$red:         #E96950;
$green:       #42b983;
$black:       #4d4d4e;
$white:       #fff;
$sky:   #EDF7FA;
$navy:  #153D48;
