$seagreen:    #5EAEBB;//#AFC4C5; //
$sand:        #F5F4F0; //#e5dfd1;
$maroon:      #a64c44; 
$offWhite:    #f9f9f9;
$steel:       #269AB1;
$navy:        #385A58;
$brown:       #C5BDA0;
$shadow:      rgba(0, 0, 0, .3);
$gray:        #ddd;

// deprecation
$red:         #E96950; //#ff6f5f;
$redder:      #C05448;
$black:       #4d4d4e;
$green:       #42b983;
$greener:     #339166;
$grayer:      rgba(147,128,108,.25);
$border:      #ddd;
$red:         #ff6f5f;
$yellow:      #ffc870;
$white:       #fff;
