@import 'colors';
@import 'variables';

header {
  background: $maroon;
  color: $sand;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header;
}

header .inner { 
  max-width: $pageWidth; 
  display: flex;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  line-height: 2;
}

header a { color: $sand; }

header p {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-align: right;
}

header i {
  cursor: pointer;
  margin: 0 15px;
}

header .fa-2x { font-size: 1.5em; }
header .fa-google { margin-top: 5px; }

.logo { flex: 1;}
.user-tools { display: flex; }


