@import 'colors';
@import 'variables';
@import 'bourbon';

header {
  background: $maroon;
  color: $sand;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header;
  z-index: 2;
}

header .inner { 
  max-width: $desktopWidth; 
  display: flex;
  margin: 0 auto;
  padding: 0 25px;
  align-items: center;
  line-height: 2;
  height: 100%;
}

header a { color: $sand; }

header p {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-align: right;
}

header i {
  cursor: pointer;
  margin: 0 15px;
  @include display(flex);
  font-size: 20px;
}

.home i { font-size: 26px; }

.logo { @include flex(1); @include display(flex); @include align-items(center); } 

.logo span { 
  font-size: $copy;
  font-family: $title;
  letter-spacing: .1em;
  margin: 0;
}

.user-tools { @include display(flex); }


