@import 'colors';
@import 'variables';
@import 'bourbon';

header {
  background: $maroon;
  color: $sand;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  position: relative;
  @include display(flex);
  @include align-items(center);
  padding: 15px;
  position: fixed;
  left: 0;
  right: 0;
}

.inner {
  max-width: $desktopWidth;
  min-width: $phoneLandscape;
  @include display(flex);
  @include flex(1);
  margin: 0 auto;
}

.logo { 
  @include display(inline-flex);
  @include align-items(center);
}

header a { color: $sand; }
header a:hover { color: inherit; }

header ul { 
  @include display(flex); 
  @include align-items(center); 
  @include justify-content(flex-end);
  @include flex(1);
}

header i {
  cursor: pointer;
  margin: 0 15px;
  @include display(flex);
}

.logo span { 
  letter-spacing: .05em;
  margin: 0;
}

.user-tools { @include display(flex); }

.headroom {
  @include transition(transform 200ms linear);
}

.headroom--pinned {
  @include transform(translate3d(0,0%,0));
}

.headroom--unpinned {
  @include transform(translate3d(0,-100%,0));
}

