@import 'bourbon';

@include font-face(norwester, 'norwester/norwester', normal, $asset-pipeline: true);

$red: #ff6f5f;
$black: #4d4d4e;
$teal: #3D8C69;

#main {
  width: 70%;
  margin: 0 auto;
}

.green {
  color: $teal;
}

header {
  display: flex;
  align-items: center;

  p {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-size: 22px;
  }

  i {
    cursor: pointer;
    margin-right: 15px;
  }

}

a {
  color: #222;
  text-decoration: none;
}

body {
  font-family: 'Source sans pro', 'sans serif';
  text-rendering: optimizeLegibility;
}

h1, h2 {
  font-family: 'norwester';
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: $black;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

#poll-name {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 42px;
  display: block;

  &.error {
    border-bottom: 2px solid red;
  }
  &.disabled {
    opacity: .3;
  }

}


.notice {
  font-family: consolas;
  padding: 12px 24px 12px 30px;
  margin: 2em 0 2em 0.8em;
  border-left: 4px solid $red;
  background-color: #f9f9f9;
  position: relative;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);

  &.error {

  }

  &:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: $red;
    color: #fff;
    content: "i";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
  }

}
