@import 'colors';
@import 'bourbon';
@import 'variables';

.notice { 
  margin: 0 0 60px 0; 
  @extend .info-box; 
  @extend .animate-box;
}

.flash { background: $white; }

.notice.disappear {
  @include animation(disappear 1s forwards, gone 300ms forwards);
  @include animation-delay(0, 1s);
}

.notice p { margin: 0; }

.notice a { border-bottom: 1px solid $black; }

.notice:before {
  content: "i";
  background: $green;
}

.error:before {
  content: "!";
  background: $red;
}
