@import 'colors';
@import 'bourbon';
@import 'variables';

.notice {
  @extend .info-box;
  border-left: 4px solid $green;
}

.error {
  @extend .info-box;
  border-left: 4px solid $red;
}

.notice:before {
  content: "i";
  background: $green;
}

.error:before {
  content: "!";
  background: $red;
}
