@import 'colors';
@import 'bourbon';
@import 'variables';

.notice { 
  @extend .infobox; 
  @extend .collapseable;
}

.notice p { margin: 0; }

.notice a { border-bottom: 1px solid $black; }

.notice:before {
  content: "i";
  background: $green;
}

.error:before {
  content: "!";
  background: $red;
}
