@import 'bourbon';
@import 'colors';
@import 'variables';

.edit_option {
  display: none;
  margin: 0 30px 0 0;
}

// ---- edit option ----

.options { margin-bottom: 60px; }

.option  { 
  @extend .box;
  @include display(flex);
  @include align-items(center);
  background: $white;
  margin: 10px;
  padding: 15px;
}

.option i.icon-tag { opacity: .6; }
.delete-option i { margin-left: 15px; }

.name { @include flex(1); }
