@import 'bourbon';

$green: #41b883;
$gray: #f9f9f9;

.option {
  font-family: consolas;
  padding: 12px 24px 12px 30px;
  margin-top: 10px;
  border-left: 4px solid $green;
  background-color: $gray;
  position: relative;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  @include transition (all .2s ease-in-out);
  display: flex;
  align-items: center;

  &:hover {
    background: $green;
    color: $gray;
  }

  span {
    flex: 1;
  }

  i {
    margin-left: .75em;
    color: $gray;
    cursor: pointer;
    font-size: 1.25em;
  }

}

#options {
  margin-bottom: 2em;
}

.new-option {
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;

  .option-name {
    font-family: consolas;
    font-size: 16px;
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(147,128,108,.25);
    padding: .5em .75em;
    flex: 1;
    border-right: 0;
    margin: 0;
  }

  a {
    border: 1px solid rgba(147,128,108,.25);
    padding: .5em .75em;
    display: flex;
    align-items: center;
    background: #f9f9f9;
  }

  .notice {
    width: 100%;
  }

}
