@import 'bourbon';
@import 'colors';
@import 'variables';

.option-form input {
  box-shadow: 0 1px 1px rgba(94, 174, 187, 0.3);
}

/* ---- edit option ---- */

.option { 
  @extend .box;
  @include display(flex);
  @include align-items(center);
  background: $offWhite;
  margin: 30px 0;
  padding: 15px;
}

.option .option-form { margin: 0; display: none; }

.option:first-of-type { margin-top: 0; }

.option-form { margin-top: 45px; }

.delete-option i { margin-left: 15px; }

.name { @include flex(1); }
