@import 'bourbon';
@import 'colors';
@import 'variables';

.poll-title {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

.poll-title i { font-size: $big; color: $red; }
.poll-title i + h1 { margin: 0 25px; }
.poll-title .edit-title { font-size: $copy; color: $black; cursor: pointer; }

.poll-title .form { flex: 1; display: none;}
.poll-title .form input {
  font-size: 4em;
  font-family: $title;
}

.form form { margin: 0; }

// ---- new ----

.welcome { padding-top: 100px; }

.welcome form { @include flex-direction(column); }
input.main { font-size: $big; padding: 15px 30px; }

// ---- edit ----

.poll-info { @include display(flex); @include flex-wrap(wrap); }
.poll-info h2 { width: 100%; }

.edit-poll h2 { margin: 30px 0; }

.user, .guest { 
  @extend .box;
  @include display(inline-flex);
  @include flex(1);
  padding: 15px;
}

.guest form { @include justify-content(center); }

// ---- show ----

#poll {
  @extend .flex;
  margin: 30px 0;
}

.graph { 
  @extend .flex;
}

.vote-action .options { margin: 0; @extend .flex; @include flex-wrap(wrap); }

.vote-action .option.voted:before { content: "f"; color: $white; }

.closed .option { opacity: .7; cursor: not-allowed; }
.closed .option.shake:hover { @include animation(none); } 

.voted.green:before   { background-color: $green; }
.voted.yellow:before  { background-color: $yellow; }
.voted.red:before     { background-color: $red; }

.vote-action .option {
  @include  display(inline-flex);
  @extend .box;
  position: relative;
  font-size: $copy;
  @include transition(all .2s ease);
  margin: 15px 25px;
  cursor: pointer;
  padding: 10px 25px;
}

.vote-action .option:before {
  font-family: 'ballot';
  position: absolute;
  top: 55%;
  margin-top: -17px;
  left: -17px;
  content: "b";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  padding: 2px 0 0 2px; 
}


// ---- partial ----

.poll i { margin-left: 5px; }

@media(max-width: 800px) {
  .poll a { margin: 5px; }
}
