@import 'bourbon';
@import 'colors';

.title {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.title i { align-self: center; }
.title i + h1 { margin-left: 25px; }

#edit-poll {
  flex-direction: column;
  justify-content: center;
}

#edit-poll section { 
  display: flex; 
}

section.head {
  align-items: center;
}

#edit-poll h2 { margin-right: 25px; }

#edit-poll .head:nth-of-type(2) h2 { flex: 1; }

.meta { display: flex; }

.meta a  { flex: 1; justify-content: flex-end; }
.meta h2 { width: 90%; }

#option_name { width: 95%; }

#poll-container {
  margin: 3em;

  h2 {
    text-align: center;
  }
}

#poll {
  margin: 0 auto;
  display: block;
  margin-bottom: 4em;
}

.options {
  display: flex;
  margin-left: 25px;
  flex-wrap: wrap;
  justify-content: center;

  .option {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    background: $gray;
    margin-right: 25px;
    padding: 10px 25px;
    border-left: 4px solid $black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    @include transition (all .2s ease-in-out);
    min-width: 20%;
    margin-bottom: 1em;

    &:before {
      font-family: FontAwesome;
      position: absolute;
      top: 55%;
      margin-top: -17px;
      left: -17px;
      background-color: $black;
      color: #fff;
      content: "\f02b";
      width: 30px;
      height: 30px;
      border-radius: 100%;
      text-align: center;
      line-height: 30px;
      font-weight: bold;
    }

    &.voted {

      &.green {
        border-left: 4px solid $green;

        &:before {
          background-color: $green;
        }

        &:hover {
          background: $green;
        }

      }

      &.red {
        border-left: 4px solid $red;

        &:before {
          background-color: $red;
        }

        &:hover {
          background: $red;
        }

      }

      &.yellow {
        border-left: 4px solid $yellow;

        &:before {
          background-color: $yellow;
        }

        &:hover {
          background: $yellow;
        }

      }

      &:before {
        content: "\f00c";
      }
    }

    &:hover {
      background: $black;
      color: $gray;
    }

      &.closed {
        opacity: .7;
        cursor: not-allowed;
    }

  } // end .option
}

.share-box {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 4px;

  // shadow
  &:before {
    top:-18px;
    left: 155px;
    border-width: 0 18px 18px;
    border-color: #eee transparent;
    border-style: solid;
    content: "";
    position: absolute;
    display: block;
    width: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 158px;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    display: block;
    width: 0;
  }

  input {
    border: none;
    font-size: 18px;
    width: 350px;
  }
}
