@import 'bourbon';

@media(max-width: 760px) {
  
  h1 { font-size: 6em; }
  .welcome input { font-size: 5em; }

  main { padding: 0; margin: 0; }

  .outer-container { border-radius: 0; border: 0; }

  .user-header { border-radius: 0; }

  header { position: relative; }

  .headroom--unpinned { @include transform(none); }
    
  .new-user { width: 100%; margin: 0; padding: 0 60px; }
  
  hr + .tools { padding: 0; }
  
  button span, .button span { display: none; }

  .notice { margin: 0 30px; }
  
  .poll a { margin: 5px; }

}
