@import 'bourbon';
@import 'variables';

@media only screen
and (min-device-width : $phonePortrait)
and (max-device-width : $phonePortrait) {

  label.error, .info-box { padding: 30px; }

  label.error { border-bottom: 2px solid $red; }
  
  .notice:before, label.error:before, .info-box:before {
    font-size: 32px;
  }

  body { font-size: 32px; } 

  .poll-container .option { padding: 30px 60px; }

  button, input { font-size: 1.5em; }
  
  .user-header, header { padding: 60px; }

  form aside { padding: 30px; }

  .input-container { margin: 60px 0; }

  header span, header i { font-size: 2em; }
  
  header i { margin: 0 30px; }

  .forgotten-password { margin: 60px 0; }
  
  main {
    @include justify-content(center);
    max-width: inherit;
  }
}

@media only screen 
and (min-device-width : $phonePortrait) 
and (max-device-width : $phoneLandscape), (max-width: 760px)  {
  
  main { 
    font-size: 1.5em;
    padding: 0;
    margin: 0;
  }

  .outer-container { border-radius: 0; border: 0; }

  .user-header { border-radius: 0; }

  header { 
    position: relative; 
  }

  .headroom--unpinned { @include transform(none); }
    
  .new-user { width: 100%; margin: 0; padding: 0 60px; }
  
  hr + .tools { padding: 0; }
  
  button span, .button span { display: none; }

  .notice { margin: 0 30px; }
  
  .poll a { margin: 5px; }

}
