@import 'bourbon';
@import 'colors';
@import 'variables';

#settings {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background: $white;
  top: 35px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px $shadow; 
  display: none;
  min-width: 200px;
  color: $black;
  margin: 0;
}

.dropdown-menu a { color: $black; }

.dropdown-menu li { @extend .hover-list; }

.dropdown-menu i { margin: 0; margin-right: 10px; }

.dropdown-menu.active { display: block; }

.dropdown-menu:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  right: 30px;
  top: -20px;
  border: 12px solid transparent;
  border-bottom-color: $white;  
}
