@import 'bourbon';
@import 'colors';
@import 'variables';

.notice, .created-polls, .polls, .voted-polls {
  @include transform(translate3d(0,0,0));
  @include transition(all .5s ease);
  max-height: 8000px;
}

.notice.transition, .polls.transition { max-height: 0; opacity: 0; }

.created-polls {
  margin: 50px 0;
}




