@import 'bourbon';
@import 'colors';
@import 'variables';

.polls {
  @extend .collapseable;
  margin-bottom: 30px;
}

.created-polls {
  margin: 50px 0;
}

/* ---- pagination ---- */

.pagination a, .pagination span, .pagination em { 
  @include display(inline-flex); 
  background: $white;
  box-shadow: 0 1px $shadow;
  padding: 2px 5px;
  margin: 2px;
}

.pagination a:first-child , .pagination span:first-child,
.pagination a:last-child , .pagination span:last-child {
  padding: 2px 10px;
}

/* ---- login/registration ---- */

.user-form { 
  @include transition(opacity .3s ease);
}

.new_user {
  @include flex-direction(column);
  @include flex(initial); 
  width: 40%;
  margin: 0 auto;
}

.input > a { @include flex(1); }


/* ---- show ---- */

#user {
  background: $white;
  @include flex(1);
  border: 1px solid $gray;
  border-radius: 3px;
}

.user-header h3{ margin: 0; @include flex(1);}
.user-header a { color: $white; }

.avatar { 
  margin-right: 25px; 
  border-radius: 50%; 
  font-size: 42px;
  overflow: hidden;
}

.user-header {
  border-radius: 3px 3px 0 0;
  @include display(flex);
  @include align-items(center);
  background: $black;
  color: $white;
  padding: 30px;
}

.user-data { 
  padding: 0 30px; 
  @include display(flex);
  @include flex-wrap(wrap);
}

.summary { width: 100%; }

.user-data ul { width: 25%;  padding: 0; }

.info-container { @include flex(1); padding: 7.5px 15px; }

.user-data i { margin-right: 15px; }

.user-data li { @extend .hover-list; }

.user-data .active { background: $red; color: $white; }

.active a { color: $white; }

