@import 'bourbon';
@import 'colors';
@import 'variables';

.polls {
  @extend .collapseable;
  margin-bottom: 30px;
}

.created-polls {
  margin: 50px 0;
}

// ---- pagination ----
.pagination a, .pagination span, .pagination em { 
  @include display(inline-flex); 
  background: $white;
  box-shadow: 0 1px $shadow;
  padding: 2px 5px;
  margin: 2px;
}

.pagination a:first-child , .pagination span:first-child,
.pagination a:last-child , .pagination span:last-child {
  padding: 2px 10px;
}
