@import 'colors';
@import 'bourbon';

// --- sizes ---

$desktopWidth: 960px;
$minWidth: 480px;
$header:  52px;

// --- fonts ---

// types
$title: 'bebas';
$sans: 'source-sans';

//sizes
$hero:    5em;
$big:     3em;
$copy:    22px;
$base:    16px;
$bigIcon: 24px;
$icon:    16px;

// weight
$light: 100;
$bold: 700;

// base-styles
.flex {
  @include display(flex);
  @include flex(1);
  @include justify-content(center);
  @include align-items(center);
}

.box {
  padding: 10px 30px;
  background: $white;
  margin: 15px;
  box-shadow: 0 1px 1px $shadow; 
}

.info-box {
  @extend .box;
  position: relative;
  @include transform(translate3d(0,0,0));
  @include transition(all 1000ms ease);
  border: 0;
  background: $white;
  display: inline-flex;
}

.info-box:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  color: $white;
}


// animations
.collapseable {
  @include transform(translate3d(0,0,0));
  @include transition(all .5s ease);
  max-height: 8000px;
}

.transition { max-height: 0; opacity: 0; }
