@import 'colors';
@import 'bourbon';

// --- sizes ---

$desktopWidth: 960px;
$phoneLandscape: 480px;
$phonePortrait: 320px;

// --- fonts ---

//sizes
$hero:    3.75em;
$big:     2em;
$base:    22px;
$bigIcon: 1.25em;
$icon:    20px;

// weight
$light:     300;
$normal:    400;
$semiBold:  600;
$bold:      700;

// base-styles

.flex {
  @include display(flex);
  @include flex(1);
}

.flex-column {
  @extend .flex;
  @include flex-direction(column);
}

.flex-center {
  @extend .flex;
  @include justify-content(center);
  @include align-items(center);
}

.flex-wrap {
  @extend .flex;
  @include flex-wrap(wrap);
}

.container {
  background: $white;
  @include flex(1);
  border: 1px solid $gray;
  border-radius: 3px;
}

/* ---- buttons ---- */

.button-base {
  padding: 10px 12px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px $shadow;
  outline: 0;
  cursor: pointer;
  @include display(inline-flex);
  @include align-items(center);
  @include transform(translate3d(0,0,0));
}

.button-base:hover { @include animation(bounce .4s); }

/* ---- notices ----- */

.box {
  padding: 15px;
  margin: 30px 0;
  box-shadow: 0 1px 0 $shadow;
  background: $offWhite;
}

.info-box {
  padding: 10px 30px;
  background: $offWhite;
  position: relative;
  border: 0;
  box-shadow: 0 1px 0 $shadow;
  @include transform(translate3d(0,0,0));
}

.info-box a { text-decoration: underline; }

.info-box:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  color: $white;
}

/* ---- lists ---- */

.hover-list {
  margin: 7.5px 0;
  padding: 7.5px 15px;
  @include display(flex);
  @include align-items(center);
}

.hover-list:hover {
  background: $blue;
  color: $white;
}

.hover-list a { @include transition(none); }

.hover-list:hover a { color: $white; }

/* ---- animations ---- */

.animate-box {
  @include transform(translate3d(0,0,0));
  @include transition(all 2000ms ease);
}

