// --- sizes ---

$desktopWidth: 960px;
$mobileWidth: 368px;
$header:  52px;

// --- fonts ---

// types
$title: 'bebas';
$sans: 'source-sans';

//sizes
$hero:  5em;
$big:   3em;
$copy:  22px;
$base:  16px;
$icon:  16px;

// weight
$light: 100;
$bold: 700;
